extends layout

block content
  h1= title
  p Welcome to #{title}
  div.row
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
      div.colspan-1 test
  div.row
      div.colspan-1 test
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-2 test
  div.row
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-1 test
  div.row
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-2 test
      div.colspan-1 test
      div.colspan-1 test