doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/core.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
  body
    nav Navigation Goes Here
    div.container
      block content