/* 

	@File setups all fonts.
	Refer to http://www.typetester.org/ for a compresshensive selection of websafe.

	TODO: Discuss @fontface solutions. Google font api, etc.

*/

/* Bullet Proof Method for @fontface. Thanks P. Irish! */
@font-face {
	font-family: crossdomain;
	src: url('http://paulirish.com/tagesschrift.eot');    
	src: local('☺'), url('http://paulirish.com/tagesschrift.ttf') format("truetype");
}
