/* 

	@File setups all fonts.
	Refer to http://www.typetester.org/ for a compresshensive selection of websafe.

	TODO: Discuss @fontface solutions. Google font api, etc.

*/

/* Bullet Proof Method for @fontface. Thanks P. Irish! */
@font-face {
	font-family: crossdomain;
	src: url('http://paulirish.com/tagesschrift.eot');    
	src: local('☺'), url('http://paulirish.com/tagesschrift.ttf') format("truetype");
}

@fontFamily: "Lucida Grande", Helvetica, Arial, sans-serif;


//TODO add REM sizes.
h1 {
    font: bold 30px @fontFamily;
}

h2 {
  font: bold 24px @fontFamily;
}

h3 {
  font: bold 18px @fontFamily;
}

h4 {
  font: bold 16px @fontFamily;
}

h5 {
  font: bold 14px @fontFamily;
}

h6 {
  font: bold 12px @fontFamily;
}
