* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
header,
footer,
section,
article,
aside,
nav,
img,
div,
span,
h1,
h2,
h3,
p,
em,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
header,
footer,
section,
article,
aside,
nav {
  display: block;
}
body {
  line-height: 1;
}
/* [JPM] - My thoughts...
          I think we should avoid calling any html element specifically.
          "nav" should be ".navigation", this will allow users to call this class as they desire. 

		"Fred has no powers or abilities, except to accept anyone as they are with no questions asked." 
                                              - http://www.incrediblehulkonline.com/fredsloan.html

		I'd also prefer the "ul" to get a class and display:list-style: none; 
		This way we keep the framework out of the markups way. Yes, I think all markup should be reset
        by FS and styled, but I'd like the UI to be abstracted to classes for flexiblity. Our guidance is to keep markup 
       semantic but who listens to rules.
*/
nav ul {
  list-style: none;
}
.navigation {
  display: block;
}
.horizontal-nav,
.horizontal-nav {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}
